body {

}

a {
  color: #00B7FF;
}

.backgroundIMG{
  width: 100%;
  height: 630px;
}
.logo{
  margin-top: 2px;
  height: 58px;
}
.nav-wrapper{
  background-color: #F5EFEC;
}
nav ul a {
  color: #FF6F19;
}
.menuIcon{
  color: #FF6F19;

}
